$primary: #725CAD;
$secondary: #592796;
$danger: #DCA06D;
$info: #A55B4B;
$warning: #4F1C51;
$success: #210F37;

.spacer {
  height: 2rem;
  /* Adjust the height as needed */
}



/*
.td-navbar .navbar-brand {
  background-image: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;   
  height: 40px;
  display: inline-block;
}
*/
